*.class

/target
/elasticsearch
/.settings
*.classpath
.project
**/.idea/
*.iml
*.log
*.log.*
nohup.out
atlassian-ide-plugin.xml
threads_report.txt
*.DS_Store*
/cache
/ml-project/EnglishNameParser/build/
/ml-project/EnglishNameParser/dist/
/ml-project/EnglishNameParser/parseenglishnames.egg-info/
analytics/reports/*
